.menu-notificaciones{
	position: relative;
	display: none;
}
.notificaciones{
	position: fixed;
	right: 200px;
	bottom: 80px;
	width: 200px;
	height: 200px;
	border: 1px solid;
}

.notificaciones header{
	background: #0575E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	text-transform: uppercase;
	font-size: 20px;
	padding: 0.3em;
}

.notificaciones article{
	background: white;
}